@import "creatorSectionVisual";
@import "multipleOptionDisplay";
@import "testFor";
@import "VideoLearner/videoLearner";
@import "VideoLearner/multipleAnsware";
@import "VideoLearner/previewVideoScreen";

.div-button-screen{
  margin: 0 auto;
  width: 4%;

  .button-screen{
    background-color: white;
    border: none;
    color: black;
    font-size: 30px;
    text-decoration: underline;
  }

  .input-divider{
    position: absolute;

    .input-video-json{
      position: relative;
      top: -100px;

    }
  }

}