@import './index/indexScreen';
@import './BarSty/Bar';
@import './shareproject/sharingProjectsScreen';
@import './video/videoScreen';
@import './countDowner/countDownerScreen';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}