.videoSection{
    width: 100%;

    .videoSources{
        width: 40%;
        height: 350px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .videoBar{
        display: flex;
        justify-content: center;
        background-color: rgb(234, 234, 234);
        height: 30px;
        padding: 5px 5px;
        gap: 10px;

        .videoButton{
            background-color: black;
            color: white;
            border: none;
            width: 80px;
        }
    }

    .video-loaded{
        width: 100%;
    }
}

.first-box{
    display: none;
}

.on-first-box{
    display: block;

    .videoButton{
        margin-top: 10px;
        background-color: black;
        height: 25px;
        color: white;
        border: none;
        width: 80px;
    }
}

.second-box{
    display: none;
}

.on-second-box{
    display: block;

    .videoButton{
        margin-top: 10px;
        background-color: black;
        height: 25px;
        color: white;
        border: none;
        width: 80px;
    }
}

.third-box{
    display: none;
}

.on-third-box{
    display: block;

    .videoButton{
        margin-top: 10px;
        background-color: black;
        height: 25px;
        color: white;
        border: none;
        width: 80px;
    }
}